
.top {
  position: fixed;
  z-index: 200;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #cccccc;

  @include mq(desktop) {
    height: 80px;
  }

  .logo {
    float: left;
    margin: 18px 4%;
    @include mq(desktop) {
      margin: 23px 7%;
    }

    img {
      height: 30px;
    }
  }

  .menu-icon {
    float: right;
    margin: 20px 4%;

    @include mq(desktop) {
      display: none;
    }

    i {
      font-size: 30px;
    }

  }

  .menu {
    clear: both;
    text-align: center;
    display: none;
    background-color: white;

    @include mq(desktop) {
      clear: inherit;
      display: inline-block;
      float: right;
      line-height: 80px;
      margin-right: 10%;
    }

    ul {

      li {
        border-top: 1px solid #cccccc;
        padding: 12px;

        @include mq(desktop) {
          display: inline-block;
          border-top: inherit;
          padding: 0 30px;
        }
        a {

          text-decoration: none;
          text-transform: uppercase;
          color: black
        }
      }
    }

  }
}
