.top {

  @include mq(desktop) {
    padding: 0 7%;
  }
  .header {
    height: 100px;
    padding: 0 20px;

    @include mq(desktop) {
      display: none;
      padding: 0;
    }

    .logo {
      display: inline-block;
      width: 30%;
      padding-top: 31px;
      img {
        //height: 50px;
      }
    }

    .menu-icon {
      display: inline-block;
      float: right;

      @include mq(desktop) {
        display: none;
      }

      i {
        line-height: 100px;
        font-size: 32px;
        color: #cccccc;
      }
    }
  }

  .logo1 {

    display: none;

    @include mq(desktop) {
      display: inline-block;
      text-align: justify;
      padding-top: 31px;

      img {

      }
    }

  }

  .menu {
    text-align: center;
    display: none;

    @include mq(desktop) {
      display: inline-block;
      float: right;
      line-height: 100px;
    }

    ul {

      li {
        border-top: 1px solid #cccccc;
        padding: 12px;

        @include mq(desktop) {
          display: inline-block;
          border-top: inherit;
          padding: 0 30px;
        }
        a {

          text-decoration: none;
          text-transform: uppercase;
          color: black
        }
      }
    }

  }
}